#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main {
  margin-left: 20vw;
}

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  top: 0;
  left: 0;
  width: 20vw;
  height: 100vh;
  background-color: #fff;
  padding: 1rem;
  // width: 100%;
  border: solid 1px #414141;

  .navigation {
    background-color: #f5f5f5;

      a {
        display: block;
        padding: 1rem;
        &:hover {
          background-color: #f0f0f0;
      }
    }
  }
}

.tasks {  
  
  .task {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border: solid 1px #414141;

    .actions {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
    }
  }

}
